<configuration>
  <connectionStrings>
    <add name ="conn" connectionString="Server=.\SqlExpress; Database=MyApp; Trusted_Connection=True; Encrypt=True; TrustServerCertificate=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="SchemaPath" value="C:\\Users\\prentice.lauzon\\source\\repos\\Dbup-MHS-Oct-Demo\\Dbup-MHS-Oct-Demo\\Scripts\\Schema"/>
    <add key="migrationPath" value="C:\\Users\\prentice.lauzon\\source\\repos\\Dbup-MHS-Oct-Demo\\Dbup-MHS-Oct-Demo\\Scripts\\Migrations"/>
    <add key="seedingPath" value="C:\\Users\\prentice.lauzon\\source\\repos\\Dbup-MHS-Oct-Demo\\Dbup-MHS-Oct-Demo\\Scripts\\Seeding"/>
  </appSettings>
</configuration>